# .env.example
DATABASE_URL="file:./dev.db"
# Genera un secreto real: openssl rand -hex 32
NEXTAUTH_SECRET="REEMPLAZA_CON_UN_SECRETO_GENERADO_CON_OPENSSL"
NEXTAUTH_URL="http://localhost:3000"

# Configuración de Entorno
NODE_ENV="development"
